@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&family=Oxanium:wght@300;400;700&family=Rajdhani&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Poppins:wght@700&display=swap');
@import url('global.css');

body {
    background-color: #FFFFFF;
    font-family: var(--secondary-font);
}

.container {
    max-width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #2A6EB6;
}

#nav-title{
    line-height: 108px;
    text-transform: uppercase;
    font-family: Poppins;
}

#nav-subtitle{
    line-height: 48px;
}

.nav-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.nav-btn {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 200px;
    height:  63px;
    border: 2px black solid;
    background-color: #20568F;
    border-radius: 10px;
    border-radius: 15px;
    border: 2px solid #BD8E00;
    background: #20568F;
    box-shadow: 0px 0px 0.348px 0px #BD8E00, 0px 0px 0.696px 0px #BD8E00, 0px 0px 2.436px 0px #BD8E00, 0px 0px 4.872px 0px #BD8E00, 0px 0px 8.352px 0px #BD8E00, 0px 0px 14.616px 0px #BD8E00;
}

.nav-btn a{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

figure {
    width: 169.634px;
    height: 107.071px;
    flex-shrink: 0;
    padding-left: 6px;
    

}

a { color:  #FFFFFF;
    font-size: medium;
    text-decoration: none;
    text-align: center;
    
 

}



ul li {  
    width: 135px;
    height: 39.686px;
    flex-shrink: 0;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    
}

#aside-menu-title{
    color: #FFFFFF;
    background: #20568F;
    width: 215px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 2px black solid;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    max-width: 100%;
    
}

.generation-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
   
    margin: 0 auto;
}

.pokemon-card {
    width: 287.408px;
    height: 369.413px;
    border-radius: 40px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 60px;
    padding: 20px;
}

#blue-card{
    background: #76bdfe;
}

#red-card{
    background: #fb6b6b;
}

#green-card{
    background: #48d0b0;
}

.pokemon-placeholder {
    position: relative;
    top: 66.1px;
    left: 33px;
    width: 180.411px;
    height: 180.411px;
    border-radius: 100px;
    margin-top: -55px;
}

#blue-placeholder{
    background: #add6fc;
}

#red-placeholder{
    background: #ff8a8a;
}

#green-placeholder{
    background: #67dbbf;
}

.card-title{
    width: 14.422rem;
    height: 36.712px;
    border-radius: 15px;
    border: 1px solid #fff;
    background: #ffffff46;
    margin: 0 auto;
}

.pokemon-id {
    position: absolute;
    color: #000;
    font-family: Rajdhani;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    left: 150px;
    top: 0px;
}

.pokemon-type-card {
    width: 52.445px;
    height: 14.694px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid #fff;
    position: relative;
    left: 90px;
    bottom: -40px;
    color: #000;
    text-align: center;
    font-family: Rajdhani;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#pokemon-type-blue{
    background: #add6fc;
}

#pokemon-type-red{
    background: #ff8a8a;
}

#pokemon-type-green{
    background: #67dbbf;
}

.pokemon-atk {
    width: 81.814px;
    height: 14.685px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #fff;
    background: #ffffff46;
    position: relative;
    margin: 100px;
    left: -80px;
    color: #000;
    text-align: center;
    font-family: Rajdhani;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.atk-charge {
    width: 81.814px;
    height: 14.685px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #fff;
    background: #ffffff46;
    position: relative;
    margin: 100px;
    left: -80px;
    top: -90px;
    margin-top: 1px;
    color: #000;
    text-align: center;
    font-family: Rajdhani;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pokemon-sinopse {
    width: 113px;
    height: 95px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #fff;
    background: #ffffff46;
    position: relative;
    margin: 70px;
    left: 60px;
    top: -270px;
}

.pokemon-sinopse p {
    display: flex;
    width: 90px;
    height: 92px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 10px;
    color: #000;
    text-align: center;
    font-family: Rajdhani;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.red-atk {
    width: 81.814px;
    height: 14.685px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #fff;
    background: #ff8a8a;
    position: relative;
    margin: 100px;
    left: -80px;
}

.red-atk p {
    margin-top: 2px;

    color: #000;
    text-align: center;
    font-family: Rajdhani;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.red-atk-charge {
    width: 81.814px;
    height: 14.685px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #fff;
    background: #ff8a8a;
    position: relative;
    margin: 100px;
    left: -80px;
    top: -90px;
}

.red-atk-charge p {
    margin-top: 1px;
    color: #000;
    text-align: center;
    font-family: Rajdhani;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.red-sinopse {
    width: 113px;
    height: 95px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #fff;
    background: #ff8a8a;
    position: relative;
    margin: 70px;
    left: 60px;
    top: -270px;
}

.red-sinopse p {
    display: flex;
    width: 90px;
    height: 92px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 10px;
    color: #000;
    text-align: center;
    font-family: Rajdhani;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.green-atk {
    width: 81.814px;
    height: 14.685px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #fff;
    background: #67dbbf;
    position: relative;
    margin: 90px;
    left: -70px;
}

.green-atk p {
    margin-top: 2px;

    color: #000;
    text-align: center;
    font-family: Rajdhani;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.green-atk-charge {
    width: 81.814px;
    height: 14.685px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #fff;
    background: #67dbbf;
    position: relative;
    margin: 90px;
    left: -70px;
    top: -80px;
}

.green-atk-charge p {
    margin-top: 1px;
    color: #000;
    text-align: center;
    font-family: Rajdhani;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.green-sinopse {
    width: 113px;
    height: 95px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #fff;
    background: #67dbbf;
    position: relative;
    margin: 70px;
    left: 60px;
    top: -250px;
}

.green-sinopse p {
    display: flex;
    width: 90px;
    height: 92px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 10px;
    color: #000;
    text-align: center;
    font-family: Rajdhani;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main {
    
    position: absolute;
    
}

article {
    margin-left: 220px;
    margin-top: 200px;
}

.letras {
    margin-left: 100px;
    position: absolute;
}

nav{
    margin-left: 300px;
}

footer {
    display: flex;
    background-color: #2A6EB6;
    color: white;
    width: 100%;
    height: 100%;
}